# BG2 tranlate Dataset Build

## (1) tlk parser

In [2]:
# tlk parser from https://github.com/3zhang/TLK-v1-file-parser-for-Python

# -*- coding: utf-8 -*-

#Author 3Zhang

import struct

b2i=lambda bstr:struct.unpack('i',bstr)[0]
b2h=lambda bstr:struct.unpack('h',bstr)[0]
i2b=lambda i:struct.pack('i',i)
h2b=lambda i:struct.pack('h',i)


#This is the version information of the header. Do not edit.
HEADER_C=b'\x54\x4c\x4b\x20\x56\x31\x20\x20\x00\x00'
COLORRED="\033[01;31m{0}\033[00m"


#a class to store each entry
class entry:
    def __init__(self,ent,n,string=None):
        self.No=n
        self.entype=b2h(ent[:2])
        self.soundinfo=ent[2:18]
        self.offset=b2i(ent[18:22])
        self.size=b2i(ent[22:])
        self.string=string
        
    def __repr__(self):
        return repr((self.No,self.entype,self.soundinfo,self.offset,self.size,self.string.decode('utf-8')))
    
    def __eq__(self, other):
        return (self.No,self.entype,self.soundinfo,self.offset,self.size,self.string) \
            == (other.No,other.entype,other.soundinfo,other.offset,other.size,other.string)


#read a tlk file. return a list of entries
def readialog(filepath):
    with open(filepath,'rb') as file:
        dg=file.read()
    header=dg[:18]
    str_o=b2i(header[14:18])
    strings=dg[str_o:]
    entries=dg[18:str_o]
    entry_l=[entries[i:i+26] for i in range(0,len(entries),26)]
    entry_l2=[entry(ent,i) for i,ent in enumerate(entry_l)]
    for i,ent in enumerate(entry_l2):
        entry_l2[i].string=strings[ent.offset:ent.offset+ent.size]
    return entry_l2
        
#Edit your dialog here. Note that string for each entry needs to be decode.
#Also, after you edit the strings, you need to encode them to binary strings.


#sort a list of entries and refresh its size and offset. You must do this after you finish editing the strings.
def refreshdialog(entryl):
    if sum([not isinstance(ent.string,bytes) for ent in entryl])>0:
        raise TypeError('String must be encoded to bytes!')
    entryl.sort(key=lambda x:x.No)
    if [ent.No for ent in entryl]!=list(range(0,len(entryl))):
        print(COLORRED.format('Warning: List index is not equal to stringref index!'))
    offset=0
    for i,ent in enumerate(entryl):
        size=len(ent.string)
        entryl[i].size=size    
        entryl[i].offset=offset if size>0 else 0
        offset+=size
        

#You must refresh the list of entries before you write them to file.
def writedialog(entryl,filepath):
    length=i2b(len(entryl))
    entries=[]
    for ent in entryl:
        entype=h2b(ent.entype)
        soundinfo=ent.soundinfo
        offset=i2b(ent.offset)
        size=i2b(ent.size)
        entb=entype+soundinfo+offset+size
        entries.append(entb)
    entries=b''.join(entries)
    soffset=i2b(18+len(entries))
    header=HEADER_C+length+soffset
    strings=[ent.string for ent in entryl]
    strings=b''.join(strings)
    dialog=header+entries+strings
    with open(filepath,'wb') as file:
        file.write(dialog)

## (2) BG2 Dialog extract

In [5]:
dial_en = readialog("../train_data/BG2(raw)/dialog_en.tlk")
dial_kr = readialog("../train_data/BG2(raw)/dialog_kr.tlk")

In [6]:
print(len(dial_kr))

dial_kr[:5]

103584

[(0, 5, b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00', 0, 9, '<NO TEXT>'),
 (1, 1, b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00', 9, 69, '아니오, 미안하지만, 그것들 가운데 아는 것은 없소.'),
 (2, 1, b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00', 78, 35, '엘민스터를 연기했습니까?'),
 (3, 1, b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00', 113, 117, '어, 유골로스, 맞습니까? 그래요, 내 기억이 맞다면 당신은 그것으로 쇼를 독차지했었소.'),
 (4, 1, b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00', 230, 201, '그리고, 누가 압니까, 우리는 피코키오의 "에테르 속에서의 사흘간"을 연습하고 있었습니다. 아마도 우리는 당신들에게 한 편 보여줄 수도 있을 겁니다.')]

In [7]:
print(len(dial_kr))

dial_en[:5]

103584

[(0, 5, b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00', 0, 9, '<NO TEXT>'),
 (1, 1, b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00', 9, 43, "No, I'm sorry, none of them sound familiar."),
 (2, 1, b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00', 52, 21, 'You played Elminster?'),
 (3, 1, b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00', 73, 78, 'Uh, the yugoloth, was it? Yeah, you stole the show with that one, if I recall.'),
 (4, 1, b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00', 151, 117, 'And, who knows, we were rehearsing for Picoccio\'s "Three Days in the Ether." Perhaps we can give you a dress matinee.')]

In [8]:
dial_en[5].string

b'Oh, my dark ravens, let us stop our squawking. I shall remove this foul demeanor like a mask because, if you will still have me, I think I would quite enjoy the company of your troupe. '

In [9]:
print(dial_en[40238].string.decode('utf-8'))
print(dial_kr[40238].string.decode('utf-8'))

Outbursts like that won't get you any tips. I'll have to write Cousin Jowen and ask him to send you some pointers.
그런 식으로 분통을 터뜨리면 팁을 전혀 받지 못하지. 내 사촌 조웬에게 편지를 써서 지침을 좀 보내달라고 해야겠군.

## (3) Make DataFrame

In [10]:
import pandas as pd
import numpy as np

In [11]:
english_list = []
korean_list = []
df_dialog = pd.DataFrame(columns = ["english", "korean"])

In [12]:
for i in range(len(dial_en)):
    english_list.append(dial_en[i].string.decode('utf-8'))
    korean_list.append(dial_kr[i].string.decode('utf-8'))

df_dialog["english"] = english_list
df_dialog["korean"] = korean_list

In [13]:
df_dialog.head()

,english,korean
0,<NO TEXT>,<NO TEXT>
1,"No, I'm sorry, none of them sound familiar.","아니오, 미안하지만, 그것들 가운데 아는 것은 없소."
2,You played Elminster?,엘민스터를 연기했습니까?
3,"Uh, the yugoloth, was it? Yeah, you stole the ...","어, 유골로스, 맞습니까? 그래요, 내 기억이 맞다면 당신은 그것으로 쇼를 독차지했었소."
4,"And, who knows, we were rehearsing for Picocci...","그리고, 누가 압니까, 우리는 피코키오의 ""에테르 속에서의 사흘간""을 연습하고 있었..."

In [14]:
df_dialog.tail()

,english,korean
103579,You remind me of that mouthy gnome.,너를 보니 그 짜증 나는 노움이 떠오르는군.
103580,~ BGII:EE French Translation ~\nMoGi\nhttps://...,~ BGII:EE French Translation ~\nMoGi\nhttps://...
103581,"~ BGII:EE Volunteer Team Leader ~\nDenis ""Isay...","~ BGII:EE Volunteer Team Leader ~\nDenis ""Isay..."
103582,"~ BGII:EE Korean Translation ~\nHosub ""Teflon""\n","~ BGII:EE Korean Translation ~\nHosub ""Teflon"""
103583,This is a Work In Progress. Want to help? Come...,This is a Work In Progress. Want to help? Come...

## (4) 필요없는 데이터 및 결측치 삭제

In [15]:
print(len(df_dialog['english'].iloc[103580]))
print(len(df_dialog['korean'].iloc[103580]))

60
59

### 1) 게임 대사가 아닌 내용 삭제

In [16]:
df_dialog.drop(df_dialog.index[103580:103584], axis=0, inplace=True)
df_dialog.drop(df_dialog.index[0], axis=0, inplace=True)

In [17]:
df_dialog.isnull().sum()

english    0
korean     0
dtype: int64

### 2) 해석이 안되어 있는 요소 삭제

In [18]:
df_dialog.head()

,english,korean
1,"No, I'm sorry, none of them sound familiar.","아니오, 미안하지만, 그것들 가운데 아는 것은 없소."
2,You played Elminster?,엘민스터를 연기했습니까?
3,"Uh, the yugoloth, was it? Yeah, you stole the ...","어, 유골로스, 맞습니까? 그래요, 내 기억이 맞다면 당신은 그것으로 쇼를 독차지했었소."
4,"And, who knows, we were rehearsing for Picocci...","그리고, 누가 압니까, 우리는 피코키오의 ""에테르 속에서의 사흘간""을 연습하고 있었..."
5,"Oh, my dark ravens, let us stop our squawking....","오, 이제 불평은 그만둡시다. 만약 당신이 계속 나와 함께 할 생각이라면, 나는 이..."

In [19]:
df_dialog.tail()

,english,korean
103575,I accept this honor.,이 명예를 받아들이겠어.
103576,This place does not belong to civilized folk. ...,이 장소는 문명인들의 땅이 아니군. 조심히 걷도록 해.
103577,Cities. They reek of corruption and filth.,도시. 부패와 오물의 악취가 진동하는 장소지.
103578,Careful. This weapon is murder-sharp.,
103579,You remind me of that mouthy gnome.,너를 보니 그 짜증 나는 노움이 떠오르는군.

In [20]:
print(df_dialog['english'].loc[103578])
print(len(df_dialog['korean'].loc[103578]))

Careful. This weapon is murder-sharp.
0

In [21]:
print(df_dialog['english'].loc[103578])
print(df_dialog['korean'].loc[103578])

Careful. This weapon is murder-sharp.

In [44]:
print(df_dialog['english'].loc[5299])
print(df_dialog['korean'].loc[5299])

In [42]:
# 글자수가 너무 작은 요소 삭제(해석이 안되어 있는 대사 포함)

short_string_indexes = df_dialog.index[df_dialog.applymap(lambda x: len(x) <= 1).any(axis=1)]

print(short_string_indexes)

Index([    30,     47,     60,     82,    268,    369,    404,    410,    415,
          416,
       ...
       103553, 103560, 103563, 103564, 103566, 103567, 103568, 103572, 103573,
       103578],
      dtype='int64', length=5002)

In [43]:
short_string_indexes[50:200]

Index([1774, 1827, 1875, 1876, 1881, 1886, 1887, 1892, 1915, 1923,
       ...
       5294, 5295, 5296, 5297, 5298, 5299, 5300, 5301, 5302, 5303],
      dtype='int64', length=150)

In [45]:
df_dialog.drop(short_string_indexes, axis=0, inplace=True)

In [46]:
df_dialog.head()

,english,korean
1,"No, I'm sorry, none of them sound familiar.","아니오, 미안하지만, 그것들 가운데 아는 것은 없소."
2,You played Elminster?,엘민스터를 연기했습니까?
3,"Uh, the yugoloth, was it? Yeah, you stole the ...","어, 유골로스, 맞습니까? 그래요, 내 기억이 맞다면 당신은 그것으로 쇼를 독차지했었소."
4,"And, who knows, we were rehearsing for Picocci...","그리고, 누가 압니까, 우리는 피코키오의 ""에테르 속에서의 사흘간""을 연습하고 있었..."
5,"Oh, my dark ravens, let us stop our squawking....","오, 이제 불평은 그만둡시다. 만약 당신이 계속 나와 함께 할 생각이라면, 나는 이..."

In [47]:
df_dialog.tail()

,english,korean
103574,Crush them!,뭉개버리자!
103575,I accept this honor.,이 명예를 받아들이겠어.
103576,This place does not belong to civilized folk. ...,이 장소는 문명인들의 땅이 아니군. 조심히 걷도록 해.
103577,Cities. They reek of corruption and filth.,도시. 부패와 오물의 악취가 진동하는 장소지.
103579,You remind me of that mouthy gnome.,너를 보니 그 짜증 나는 노움이 떠오르는군.

In [48]:
len(df_dialog)

98577

In [49]:
print(df_dialog['english'].iloc[31])

Forget it, then. Begone from here and take your bravado with you.

In [50]:
print(len(df_dialog.korean[31]))

29

### 3) 인덱스 reset

In [51]:
df_dialog.reset_index(drop=True, inplace=True)

In [52]:
df_dialog.head()

,english,korean
0,"No, I'm sorry, none of them sound familiar.","아니오, 미안하지만, 그것들 가운데 아는 것은 없소."
1,You played Elminster?,엘민스터를 연기했습니까?
2,"Uh, the yugoloth, was it? Yeah, you stole the ...","어, 유골로스, 맞습니까? 그래요, 내 기억이 맞다면 당신은 그것으로 쇼를 독차지했었소."
3,"And, who knows, we were rehearsing for Picocci...","그리고, 누가 압니까, 우리는 피코키오의 ""에테르 속에서의 사흘간""을 연습하고 있었..."
4,"Oh, my dark ravens, let us stop our squawking....","오, 이제 불평은 그만둡시다. 만약 당신이 계속 나와 함께 할 생각이라면, 나는 이..."

In [53]:
df_dialog.tail()

,english,korean
98572,Crush them!,뭉개버리자!
98573,I accept this honor.,이 명예를 받아들이겠어.
98574,This place does not belong to civilized folk. ...,이 장소는 문명인들의 땅이 아니군. 조심히 걷도록 해.
98575,Cities. They reek of corruption and filth.,도시. 부패와 오물의 악취가 진동하는 장소지.
98576,You remind me of that mouthy gnome.,너를 보니 그 짜증 나는 노움이 떠오르는군.

In [54]:
df_dialog.reset_index(inplace=True)

In [55]:
df_dialog.rename(columns={"index":"num"}, inplace=True)

In [56]:
df_dialog.head()

,num,english,korean
0,0,"No, I'm sorry, none of them sound familiar.","아니오, 미안하지만, 그것들 가운데 아는 것은 없소."
1,1,You played Elminster?,엘민스터를 연기했습니까?
2,2,"Uh, the yugoloth, was it? Yeah, you stole the ...","어, 유골로스, 맞습니까? 그래요, 내 기억이 맞다면 당신은 그것으로 쇼를 독차지했었소."
3,3,"And, who knows, we were rehearsing for Picocci...","그리고, 누가 압니까, 우리는 피코키오의 ""에테르 속에서의 사흘간""을 연습하고 있었..."
4,4,"Oh, my dark ravens, let us stop our squawking....","오, 이제 불평은 그만둡시다. 만약 당신이 계속 나와 함께 할 생각이라면, 나는 이..."

### 4) csv파일 저장

In [57]:
# df_dialog.to_csv(r"../train_data/dialog_BG2.csv", index=False, encoding='utf-8')

In [58]:
print(df_dialog['english'].loc[45678])
print(df_dialog['korean'].loc[45678])

What do ya do wit' a drunken sailor?
What do ya do wit' a drunken sailor?
What do ya do wit' a drunken sailor
Er-lye in the marnin'?
술취한 선원으로 뭐할 텐가?
술취한 선원으로 뭐할 텐가?
술취한 선원으로 뭐할 텐가,
이이-른 아침에?

In [59]:
from datasets import Dataset, DatasetDict
import pandas as pd

# df_dialog = pd.read_csv("./train_data/BG2(raw)/dialog.csv", lineterminator='\n', index_col=0)

# pandas 데이터프레임을 허깅페이스 데이텃셋으로 만들기
# https://stackoverflow.com/questions/72499850/how-to-load-two-pandas-dataframe-into-hugginfaces-dataset-object

In [60]:
print(df_dialog['english'].loc[93711])
print(df_dialog['korean'].loc[93711])

You're not the most subtle person in the world, Neera.
넌 영리한 사람이 전혀 아니거든, 니라.

## (5) 허깅페이스 데이터셋 만들기

### 1) 판다스 데이터프레임에서 허깅페이스 데이터셋으로 변환

In [61]:
# datasets_train = DatasetDict({
#     "train": Dataset.from_pandas(df_dialog)
# })

In [62]:
# datasets_train

In [63]:
# datasets_train["train"][93711]

### 2) 허깅페이스 로그인 및 허브에 데이터셋 업로드

In [64]:
from huggingface_hub import login

# login(token="your_token")

# datasets_train.push_to_hub("aeolian83/DnD_translate")